/* Write your CSS here */

.latest-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #1e293b;
  background-color: #1e293b;
  border-radius: 10px;
  width: 95%;
}
.latest {
  display: none;
}

.ctlogo {
  height: 40%;
  width: 40%;
}

.latest-container1 {
  display: none;
}

@media (max-width: 680px) {
  .latest-container1 {
    display: flex;
    flex-direction: column;

    border: 1px solid #1e293b;
    background-color: #1e293b;
    border-radius: 10px;
  }

  .s3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .line {
    line-break: normal;
  }
  .latest {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .latest-container {
    display: none;
  }
  .competing-team {
    font-size: 15px;
  }
  .heading-s4 {
    font-size: 15px;
  }
  .paragraph-s4 {
    font-size: 10px;
  }
  .date {
    font-size: 15px;
  }
  .venue {
    font-size: 10px;
  }
  .result {
    font-size: 15px;
  }
  .competingteam {
    font-size: 15px;
  }
}
